<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Include Prism.js and its CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism.css" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.js"></script>
    {% include head-custom.html %}

{% seo %}
  </head>
  <script>
    function copyCode(button) {
      const code = button.parentNode.querySelector('pre');
      const text = code.innerText;
    
      navigator.clipboard.writeText(text).then(() => {
        button.innerText = 'Copied!';
        setTimeout(() => {
          button.innerText = 'Copy';
        }, 2000);
      }).catch((error) => {
        console.error('Failed to copy code:', error);
      });
    }
    </script>

  <body>
    
    <header>
      <div class="container">
        {% include navbar.html %}
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>martin.sh</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="https://github.com/Martinez047/" class="btn btn-github"><span class="icon"></span>check my github</a>
        </section>
      </div>
    </header>
    
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
